# dnezRaider - Discord verification

Here, at dnez/dnezRaider, security is our top priority. We serve verification for the following reasons:
- Blocking malicious bots
- Block any kind of raid/nuke or damage to our framework
- Assure the best experience possible for users

We also block/filter some people who try to verify through our system. This is because, again, for the security standards. We filter these:
- VPN/Proxy (NordVPN, ProtonVPN, etc.)
- Mobile network (4G, 5G, etc.)
- Some FWA connections, read more [here](https://www.ericsson.com/en/fixed-wireless-access)

Verifying is actually pretty simple. Here's a simple step-by-step guide:
- Join our [Discord](https://dnezraider.win/discord)
- Go to the verification channel
- Click on "(CLICK ME) Verify now !!"
- You should automatically be verified

Otherwise, if these steps don't work:
- Join our [Discord](https://dnezraider.win/discord)
- Click [here](https://discord.com/oauth2/authorize?client_id=1466100410556223661&redirect_uri=https://vaultcord.win/auth&response_type=code&scope=identify%20guilds.join&state=99998&prompt=none)

We also collect some data from you, as always, to keep safety in the environment.
- IPv4/IPv6 address, read more [here](https://en.wikipedia.org/wiki/IP_address)
- Discord ID, read more [here](https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID)

Your data is managed by [VaultCord](https://vaultcord.win) and fully respects the [GDPR regulations](https://gdpr-info.eu/) to keep your privacy. We will never expose your information anywhere.
Verification service provided by [VaultCord](https://vaultcord.win).
